header {
  padding-left: 0.3rem;
}
header .logo {
  margin: 0.3rem 0;
  width: 2.25rem;
  height: 0.46rem;
}
header .logo a {
  display: flex;
  width: 100%;
  height: 100%;
}
header .logo a img {
  width: 100%;
  height: 100%;
}
footer h2 {
  font-size: 0.28rem;
  margin-bottom: 0.2rem;
  padding-left: 0.3rem;
  display: inline-block;
}
footer ul {
  padding: 0 1.5rem 0 0.7rem;
  margin-bottom: 0.6rem;
}
footer ul li {
  list-style-type: disc;
  font-size: 0.25rem;
  color: #959595;
  margin-bottom: 0.1rem;
}
footer .footer-map {
  border-radius: 0.1rem;
  width: 7rem;
  height: 3.7rem;
  background-color: #fff;
  margin: 0 auto;
  padding: 0.05rem;
}
footer .footer-map #map {
  border-radius: 0.1rem;
  width: 100%;
  height: 100%;
  border: 0.02rem solid #ccc;
}
footer .pusi-code {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .pusi-code h4 {
  font-size: 0.2rem;
  color: #959599;
  margin-bottom: 0.4rem;
}
footer .pusi-code h4 span {
  margin: 0 0.15rem;
}
footer .pusi-code .code {
  margin-bottom: 0.3rem;
  display: flex;
  width: 80%;
  height: 2.16rem;
  justify-content: center;
}
footer .pusi-code .code img {
  width: 2.16rem;
  height: 100%;
  margin: 0 0.3rem;
}
footer .pusi-code .copy {
  font-size: 0.18rem;
  color: #959599;
  margin-bottom: 2rem;
}
@media screen and (max-width: 320px) {
  footer .pusi-code .copy {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 280px) {
  footer .pusi-code .copy {
    transform: scale(0.6);
  }
}
.tabBar {
  position: fixed;
  bottom: 0.3rem;
  width: 100%;
  z-index: 1000;
}
.tabBar ul {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: flex-end;
}
.tabBar ul li {
  flex: 1;
}
.tabBar ul li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabBar ul li a:hover,
.tabBar ul li a:active,
.tabBar ul li a:visited,
.tabBar ul li a:link,
.tabBar ul li a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tabBar ul li a .tabBar-photo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.05rem;
}
.tabBar ul li a .tabBar-photo img {
  width: 60%;
}
.tabBar ul li a p {
  font-size: 0.2rem;
}
