body {
    background-color: var(--backgroundColor);
    color: #fff;
}

header {
    .logo {
        margin: 0.3rem 0;
        width: 2.25rem;
        height: 0.46rem;

        a {
            display: flex;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.content {
    width: 100%;

    // 璞思学院
    .school {
        border: 0.01rem solid #000000;
        width: 100%;
        height: 4.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--themeBackgroundColor);
        margin-bottom: 0.22rem;

        h2 {
            font-size: 0.88rem;
            margin: 0;
            font-weight: bold;
        }

        p {
            font-size: 0.5rem;
            color: #959595;

            span {
                margin: 0 0.3rem;
            }
        }
    }

    // ui课程介绍
    .ui {
        background-color: var(--themeBackgroundColor);
        padding: 0.8rem 0;
        margin-bottom: 0.22rem;
        border: 0.01rem solid #000000;

        >ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >li {
                padding-bottom: 0.1rem;

                p {
                    vertical-align: top;
                    font-size: 0.34rem;
                    color: #959595;
                }

                h2 {
                    font-size: 0.7rem;
                }

                h3 {
                    font-size: 0.5rem;
                    font-weight: 200;
                }

                ul {
                    display: flex;
                    margin-top: 0.6rem;
                    color: #959595;

                    li {
                        background-color: #484848;
                        margin: 0 0.1rem;
                        font-size: 0.18rem;
                        border: 1px solid #cecece;
                        padding: 0.05rem 0.07rem;
                        border-radius: 0.1rem;
                    }
                }
            }
        }
    }

    // javaEE课程介绍
    .javaEE {
        padding: 0.8rem 0 0.6rem 0;
        background-color: var(--themeBackgroundColor);
        margin-bottom: 1rem;
        border: 0.01rem solid #000000;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                p {
                    font-size: 0.24rem;
                    color: #959595;
                    letter-spacing: 0.1rem;

                    span {
                        margin-right: 0.4rem;
                    }
                }

                h2 {
                    font-size: 1rem;
                }

                h3 {
                    font-weight: normal;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 0.88rem;
                        line-height: 0.88rem;
                    }

                    font-size: 0.58rem;
                    margin-bottom: 0.1rem;
                }

                h4 {
                    font-weight: normal;
                    font-size: 0.32rem;
                    color: #959595;
                }
            }
        }
    }

    // 课程介绍
    .curriculum {
        border-bottom: 0.01rem solid #000;
        .touch-swiper {
            display: flex;

            .left-touch {
                width: 12%;
                position: relative;

                &::after {
                    content: ' ';
                    width: 0.4rem;
                    height: 0.4rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-left: 0.05rem solid #fff;
                    border-top: 0.05rem solid #fff;
                    transform: translateY(-50%) translateX(-25%) rotate(-45deg);
                }
            }

            .curriculum-slide {
                width: 76%;
                height: 5.48rem;
                background-color: var(--themeBackgroundColor);
                padding: 0 0.4rem;
                border: 0.01rem solid #000000;
                position: relative;
                margin-bottom: 0.3rem;

                &::after {
                    content: ' ';
                    width: 100%;
                    height: 0.01rem;
                    background-color: #000;
                    position: absolute;
                    bottom: 5px;
                    left: 0px;
                }

                &::before {
                    content: ' ';
                    width: 100%;
                    height: 0.02rem;
                    background: linear-gradient(to right,
                            rgba(26, 165, 219, .4) 0%,
                            rgba(26, 165, 219, .5) 10%,
                            rgba(26, 165, 219, .6) 20%,
                            rgba(26, 165, 219, .8) 30%,
                            rgba(26, 165, 219, .8) 40%,
                            rgba(49, 93, 174, 0.9) 50%,
                            rgba(49, 93, 174, 0.8) 60%,
                            rgba(49, 93, 174, 0.6) 70%,
                            rgba(49, 93, 174, 0.5) 80%,
                            rgba(49, 93, 174, 0.5) 90%,
                            rgba(49, 93, 174, .5) 100%);
                    position: absolute;
                    top: -1px;
                    left: 0px;
                }

                ul {
                    height: 100%;

                    li {
                        height: 100%;

                        .curriculum-title {
                            height: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            border-bottom: 0.01rem solid #474747;
                            padding-bottom: 0.2rem;

                            h2 {
                                font-size: 0.7rem;
                                font-weight: normal;
                            }

                            h3 {
                                font-size: 0.44rem;
                                font-weight: normal;
                                color: #959595;
                            }
                        }

                        .curriculum-content {
                            border-top: 0.01rem solid #2a2a2a;
                            height: 60%;
                            font-size: 0.26rem;
                            padding: 0.2rem 0 0 0;
                            line-height: 0.48rem;
                        }
                    }
                }

            }

            .right-touch {
                width: 12%;
                position: relative;

                &::after {
                    content: ' ';
                    width: 0.4rem;
                    height: 0.4rem;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    border-left: 0.05rem solid #fff;
                    border-top: 0.05rem solid #fff;
                    transform: translateY(-50%) translateX(25%) rotate(135deg);
                }
            }
        }

        >ul {
            margin-bottom: 0.7rem;
            font-size: 0.22rem;
            display: flex;
            color: #959595;
            justify-content: center;

            li {
                margin: 0 0.1rem;
                background-color: #484848;
                border: 1px solid #cacaca;
                padding: 0.05rem 0.2rem;
                border-radius: 0.1rem;
            }
        }
    }
    // 校园新闻
    .news{
        .news-title{
            text-align: center;
            padding:0.7rem 0;
            h2{
                font-size: 0.5rem;
                font-weight: normal;
                color: #959595;
            }
        }
        .news-content{
            padding: 0 0.27rem;
            .news-list{
                border-bottom: 0.01rem solid #393939;
                padding-bottom: 0.28rem;
                a{
                    display: flex;
                    
                    .news-left-photo{
                        width: 1.52rem;
                        height: 1.19rem;
                        background-color: #3b3b3b;
                        margin-right: 0.28rem;
                    }
                    .news-right{
                        h2{
                            font-size: 0.32rem;
                        }
                        h3{
                            font-weight: normal;
                            font-size: 0.24rem;
                        }
                        p{
                            font-size: 0.18rem;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}