@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整 */
/* html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  解决IOS默认滑动很卡的情况
  -webkit-overflow-scrolling : touch;
    height: 100%;
    width: 100%;
} */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  --themeBackgroundColor: #363636;
  --backgroundColor: #252525;
  background-color: var(--backgroundColor);
  color: #fff;
  font-size: 0.32rem;
  --textColor:#959595;
}

ul li {
  list-style: none;
}

a {
  outline: none;
  color: #fff;
  text-decoration: none;
}
input{
  outline: none;
  background:none;
  border:none;
}