<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <!-- 通用样式 -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/environment.css">
    <script src="../js/adaptive.js"></script>
</head>


<body>
    <!-- 头部 -->
    <header>
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
    </header>
    <!-- 内容 -->
    <div class="content">
        <!-- 校园风采 -->
        <div class="campus">
            <h2>校园风采</h2>
            <ul>
                <li><img src="../images/xueyuan01.jpg" alt=""></li>
                <li><img src="../images/xueyuan02.jpg" alt=""></li>
                <li><img src="../images/xueyuan03.jpg" alt=""></li>
                <li><img src="../images/xueyuan04.jpg" alt=""></li>
            </ul>
            <span>璞思教育坐落在莆田市城厢区，是本市首屈一指的互联网前沿科技基础应用教育基地优秀的教学师资一流的教学设施大量的实操课程是您选择璞思的四大理由。</span>
        </div>
        <!-- 教室环境 -->
        <div class="classroom">
            <div class="classroom-content">
                <h2>教室环境</h2>
                <div class="classroom-top">
                    <h4>璞思教育，立足培养IT精英</h4>
                    <span>引领您迎接5G新机遇，<br>教您如何掌握未来</span>
                </div>
                <div class="classroom-photo">
                    <ul>
                        <li><img src="../images/xueyuan05.jpg" alt=""></li>
                        <li><img src="../images/xueyuan06.jpg" alt=""></li>
                        <li><img src="../images/xueyuan07.jpg" alt=""></li>
                    </ul>
                </div>
                <ul>
                    <li>其实，梦想才是最奢侈的，</li>
                    <li>并让人心神向往！</li>
                    <li>每提早一天做出决定，</li>
                    <li>就能多24小时改变自己的人生</li>
                </ul>
            </div>
        </div>
        <!-- 办学宗旨 -->
        <div class="tenet">
            <h3>办学宗旨</h3>
            <h2>传道授业&nbsp;德行天下</h2>
            <div class="tenet-photo">
                <img src="../images/xueyuan08.jpg" alt="">
            </div>
            <div class="tenet-text">
                <p>璞思职业技术学校是福建骠骑网络科技有限公司旗下的职业教育板块，专注于提供最优质的IT教育服务。</p>
                <p>传道授业，即授之鱼也授之渔，学校通过科学合理的培训课程体系采用<span>高等学徒制</span>，依托企业级真实项目，培养IT精英人才，提供IT工程师成就之路。德行天下，是一种求新通变的“德善”情怀。于世间万物的变化之中以水之智立身行事，不迷失于急功近利，在迂回中积蓄力量，在通变中寻找出路，在前行中练达智慧人生。学校以学生为本，在传道授业过程重视师德，将“德善”情怀渗透到学校的招生、教学等服务。
                </p>
            </div>
        </div>
        <!-- 办学目标 -->
        <div class="target">
            <div class="tenet">
                <h3>办学目标</h3>
                <div class="tenet-photo">
                    <img src="../images/xueyuan09.jpg" alt="">
                </div>
                <div class="tenet-text">
                    <p>璞思学校以培养计算机软件开发应用人才为目标，不仅着重培养学员的基础理论知识,更注重岗位技能的培养，并密切关注技术革新,不断引入先进技术,研发更新技术课程,确保学员进入企业后不仅能独立从事开发工作,更能给企业带来新的技术体系和理念。璞思始终秉承"传道授业,德行天下"的初心,以技术视角关注产业发展，以深度分享推进产业技术成长,致力于弘扬技术创新，倡导分享、开放和协作,努力<span>
                            打造高质量的IT人才服务平台</span>之中。</p>
                </div>
            </div>
        </div>
        <!-- 课程体系 -->
        <div class="tenet">
            <h3>课程体系</h3>
            <div class="tenet-text">
                <p>璞思学校积极推动<span>校企深度</span>合作，在就业创业互动、技能竞赛、产研学共建等交流合作，着力打造毕业即就业、创业的职能教育模式。璞思前期开设Java开发、UI设计、Web前端开发培训课程，后续将陆续开展多门课程，如C#、Winform程序设计、Photoshop等课程培训。
                </p>
            </div>
        </div>
        <!-- 教学理念 -->
        <div class="teaching">
            <div class="tenet">
                <h3>教学理念</h3>
                <div class="tenet-text">
                    <p>璞思教育以学生为中心，立足学生的就业需求注重<span>理论+实战相结合</span>的培养模式。以学生就业与个人职业发展规划为出发点，具体理念：</p>
                    <p>1、围绕大中型企业对人才的知识与技能需求架构课程内容体系，聘请总监级导师团队与课程设计专家共同设计课程与日教学安排。</p>
                    <p>2、积极关注最新技术发展与企业发展需求，更新课程内容，引领学生走在时代技术的前沿。</p>
                    <p>3、完善的学习支持服务体系，成就学生学习成长之路。以<span>“导师+助教+班主任”三位一体</span>构建教学服务过程，建立在线学习评测系统、教学反馈系统等，为每一位学生的学习保驾护航
                    </p>
                </div>
            </div>
        </div>
        <!-- 就业保障 -->
        <div class="tenet">
            <h3>就业保障</h3>
            <div class="tenet-text">
                <p>1.通过课程学习考核合格的学员可选择进入骠骑平台就业学<span>校协助学子规划职业发展</span>，同时提供未来发展空间。</p>
                <p>2.璞思学校建立密集的人才推送渠道网，直接对接企业需求培养并推荐对口人才，覆盖包括华为、阿里等企业，以及莆田当地科技类公司，轻松就业有渠道。</p>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer>
        <h2>全国免费招生热线：400-1581-881</h2>
        <ul>
            <li>客服手机：18020608313</li>
            <li>网址：www.pusiuni.com</li>
            <li>QQ：737358703</li>
            <li>邮箱：pusi@miaohaigou.com</li>
            <li>地址：莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
        </ul>
        <div class="map"></div>
        <div class="pusi-code">
            <h4><span>关注公众账号</span><span>了解更多资讯</span></h4>
            <div class="code">
                <img src="../images/code01.jpg" alt="">
                <img src="../images/code02.jpg" alt="">
            </div>
            <div class="copy">
                &copy;&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN
            </div>
        </div>
    </footer>
    <!-- 导航栏 -->
    <div class="tabBar">
        <ul>
            <li>
                <a href="./index.html">
                    <div class="tabBar-photo">
                        <img src="../images/shouYe.png" alt="">
                    </div>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="./introduce.html">
                    <div class="tabBar-photo">
                        <img src="../images/keCheng.png" alt="">
                    </div>
                    <p>课程</p>
                </a>
            </li>
            <li>
                <a href="./news.html">
                    <div class="tabBar-photo">
                        <img src="../images/sheQu.png" alt="">
                    </div>
                    <p>社区</p>
                </a>
            </li>
            <li>
                <a href="./applyCourse.html">
                    <div class="tabBar-photo">
                        <img src="../images/baoMing.png" alt="">
                    </div>
                    <p>报名</p>
                </a>
            </li>
            <li>
                <a href="./environment.html">
                    <div class="tabBar-photo">
                        <img src="../images/woMen.png" alt="">
                    </div>
                    <p>我们</p>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>