<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<script src="../js/adaptive.js"></script>

<body>
    <header>
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
    </header>
    <div class="content">
        <div class="school">
            <h2>璞思学院</h2>
            <p><span>传道授业</span><span>德行天下</span></p>
        </div>
        <!-- ui课程介绍 -->
        <div class="ui">
            <ul>
                <li>
                    <p>全链路UI3.0，分阶段学习，因材施教</p>
                </li>
                <li>
                    <h2>6步缔造顶尖UI设计师</h2>
                </li>
                <li>
                    <h3> 先培训后就业</h3>
                </li>
                <li>
                    <h3>进入名企拿高薪</h3>
                </li>
                <li>
                    <ul>
                        <li>多元化服务</li>
                        <li>一对一辅导</li>
                        <li>小班授课</li>
                        <li>总监级导师倾心相授</li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- javaEE课程介绍 -->
        <div class="javaEE">
            <ul>
                <li>
                    <p><span>没有基础</span>没有经验如何在职场上脱颖而出</p>
                </li>
                <li>
                    <h2>JavaEE</h2>
                </li>
                <li>
                    <h3><span>4</span>大课程优势</h3>
                </li>
                <li>
                    <h4>让你成为中高端人才</h4>
                </li>
            </ul>
        </div>
        <!-- 课程介绍 -->
        <div class="curriculum">
            <div class="touch-swiper">
                <div class="left-touch">

                </div>
                <div class="curriculum-slide">
                    <ul>
                        <!-- <li></li> -->
                        <li>
                            <div class="curriculum-title">
                                <h2>UI</h2>
                                <h3>打造月薪过万的UI设计师</h3>
                            </div>
                            <div class="curriculum-content">
                                全新升级全链路ui3.0，5步缔造顶尖UI设计师，更符合企业对人才的实际需求，顺应互联网时代趋势,综合用户的需求和业务目标
                            </div>
                        </li>
                        <!-- <li></li> -->
                    </ul>
                </div>
                <div class="right-touch">

                </div>
            </div>
            <ul>
                <li>学科介绍</li>
                <li>就业薪资</li>
                <li>教学大纲</li>
                <li>师资力量</li>
            </ul>
        </div>
        <!-- 校园新闻 -->
        <div class="news">
            <div class="news-title">
                <h2>校园新闻</h2>
            </div>
            <div class="news-content">
                <div class="news-list">
                    <a href="#">
                        <div class="news-left-photo"></div>
                        <div class="news-right">
                            <h2>我们为什么选择Java?</h2>
                            <h3>大多数人选择Java可能只是因为听说Java前景</h3>
                            <p>2019/8/15</p>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="#">
                        <div class="news-left-photo"></div>
                        <div class="news-right">
                            <h2>我们为什么选择Java?</h2>
                            <h3>大多数人选择Java可能只是因为听说Java前景</h3>
                            <p>2019/8/15</p>
                        </div>
                    </a>
                </div>
                <div class="news-list">
                    <a href="#">
                        <div class="news-left-photo"></div>
                        <div class="news-right">
                            <h2>我们为什么选择Java?</h2>
                            <h3>大多数人选择Java可能只是因为听说Java前景</h3>
                            <p>2019/8/15</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 学校风采 -->
        <div class="environment">
            <ul>
                <li>
                    <h2>学校风采</h2>
                </li>
                <li class="environment-photo"><img src="../images/pusijiaoyu.jpg" alt=""></li>
                <li><a href="#">查看更多</a></li>
                <li>
                    <h3>优美的教学环境</h3>
                </li>
                <li>
                    <h3>一流的设备</h3>
                </li>
                <li>
                    <h3>师资雄厚</h3>
                </li>
                <li class="pusi-introduce">
                    <p>璞思教育坐落在莆田市城厢区，</p>
                </li>
                <li>
                    <p>是本市首屈一指的互联网前沿科技，</p>
                </li>
                <li>
                    <p>基础应用教育基地，</p>
                </li>
                <li>
                    <p>优秀的教学师资、一流的教学设施、</p>
                </li>
                <li>
                    <p>大量的实操课程，</p>
                </li>
                <li>
                    <p>是您选择璞思的四大理由。</p>
                </li>
            </ul>

        </div>
        <!-- 璞思大家庭 -->
        <div class="pusi-familiar">
            <h2>璞思大家庭</h2>
            <div class="pusi-swiper">
                
            </div>
        </div>
        <!-- 关于我们 -->
        <div class="about">
            <h2>关于我们</h2>
            <video src=""></video>
        </div>
    </div>

    <!-- 底部 -->
    <footer>
        <h2>全国免费招生热线：400-1581-881</h2>
        <ul>
            <li>客服手机：18020608313</li>
            <li>网址：www.pusiuni.com</li>
            <li>QQ：737358703</li>
            <li>邮箱：pusi@miaohaigou.com</li>
            <li>地址：莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
        </ul>
        <div class="map"></div>
        <div class="pusi-code">
            <h4><span>关注公众账号</span><span>了解更多资讯</span></h4>
            <div class="code">
                <img src="../images/code01.jpg" alt="">
                <img src="../images/code02.jpg" alt="">
            </div>
            <div class="copy">
                &copy;&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN</div>
        </div>
    </footer>
</body>

</html>