<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
    </header>
    <div class="content">
        <div class="school">
            <h2>璞思学院</h2>
            <p><span>传道授业</span><span>德行天下</span></p>
        </div>
        <!-- ui课程介绍 -->
        <div class="ui">
            <ul>
                <li>
                    <p>全链路UI3.0，分阶段学习，因材施教</p>
                </li>
                <li>
                    <h2>6步缔造顶尖UI设计师</h2>
                </li>
                <li>
                    <h3> 先培训后就业</h3>
                </li>
                <li>
                    <h3>进入名企拿高薪</h3>
                </li>
                <li>
                    <ul>
                        <li>多元化服务</li>
                        <li>一对一辅导</li>
                        <li>小班授课</li>
                        <li>总监级导师倾心相授</li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- javaEE课程介绍 -->
        <div class="javaEE">
            <ul>
                <li>
                    <p><span>没有基础</span>没有经验如何在职场上脱颖而出</p>
                </li>
                <li>
                    <h2>JavaEE</h2>
                </li>
                <li>
                    <h3><span>4</span>大课程优势</h3>
                </li>
                <li>
                    <h4>让你成为中高端人才</h4>
                </li>
            </ul>
        </div>
        <!-- 课程介绍 -->
        <div class="curriculum">
            <div class="touch-swiper">
                <div class="left-touch">

                </div>
                <div class="curriculum-slide">
                    <ul>
                        <!-- <li></li> -->
                        <li>
                            <div class="curriculum-title">
                                <h2>UI</h2>
                                <h3>打造月薪过万的UI设计师</h3>
                            </div>
                            <div class="curriculum-content">
                                全新升级全链路ui3.0，5步缔造顶尖UI设计师，更符合企业对人才的实际需求，顺应互联网时代趋势,综合用户的需求和业务目标
                            </div>
                        </li>
                        <!-- <li></li> -->
                    </ul>
                </div>
                <div class="right-touch">

                </div>
            </div>
            <ul>
                <li>学科介绍</li>
                <li>就业薪资</li>
                <li>教学大纲</li>
                <li>师资力量</li>
            </ul>
        </div>
        <!-- 校园新闻 -->
        <div class="news">
            <div class="news-title">
                <h2>校园新闻</h2>
            </div>
            <div class="news-content">
                <div class="news-list">
                    <a href="#">
                        <div class="news-left-photo"></div>
                        <div class="news-right">
                            <h2>我们为什么选择Java?</h2>
                            <h3>大多数人选择Java可能只是因为听说Java前景</h3>
                            <p>2019/8/15</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/adaptive.js"></script>

</html>