<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <!-- 通用样式 -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/introduce.css">
</head>

<script src="../js/adaptive.js"></script>

<body>
    <!-- 头部 -->
    <header>
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
    </header>
    <!-- 内容 -->
    <div class="content">
        <!-- UI课程介绍 -->
        <div class="content-ui">
            <div class="ui-title">
                <h2>UI<span>课程介绍</span></h2>
            </div>
            <div class="ui-content">
                <div class="ui-label">
                    <h2>与时俱进</h2>
                </div>
                <div class="ui-text">
                    以“互联网 +”大背景下对 UI
                    设计师能力的要求，企业的需求为出发点设计能力目标与实操项目，突出不同行业的跨界融合能力，培养同时具备产品思维、用户逻辑、用户体验、交互设计、跨平台设计能力的UI设计师。
                </div>
                <div class="ui-photo">
                    <img src="../images/jiaohu.jpg" alt="">
                </div>
            </div>
            <div class="ui-content">
                <div class="ui-label">
                    <h2>引领潮流</h2>
                </div>
                <div class="ui-text">
                    根据UI 设计师的招聘要求，增加了对平面设计、网页设计、移动端设计、AUI 商业手绘和 VUI 职业素养等能力的要求。
                </div>
                <div class="ui-photo">
                    <img src="../images/UI.jpg" alt="">
                </div>
            </div>
            <div class="ui-content">
                <div class="ui-label">
                    <h2>项目丰富</h2>
                </div>
                <h3>课程以实战为导向，采用项目倒推法教学，学员从真实项目中对设计的每一个环节进行深入了解和把控，了解真实的项目细节。</h3>
                <div class="ui-text">
                    课程从广度上进行各行业、各类型设计对象的功能特征及设计特点，配套线上成品项目，融合工作经验和客户心理，从不同的维度进行设计及运营需求分析定位，深度上剖析各种类型公司职责及流程，融合工作经验和客户心理，真实项目体验式学习。
                </div>
            </div>
            <div class="ui-content">
                <div class="ui-label">
                    <h2>解决方案式教学</h2>
                </div>
                <h3>课程采用项目倒推法教学，融合工作经验和客户心理，从不同的维度进行设计及运营需求分析定位，让学员熟悉工作流程及设计经验，提高学员的思考及策划能力、逻辑思维能力、设计能力。</h3>
                <div class="ui-text">
                    解决方案式教学突出学员对整个项目的把控，同时要求深入细节，从而能轻松应对工作，实现无缝对接互联网+时代的工作岗位。
                </div>
            </div>
        </div>
        <!-- java课程介绍 -->
        <div class="content-java">
            <div class="java-title">
                <h2>JAVA<span>课程介绍</span></h2>
            </div>
            <div class="java-content">
                <div class="java-label">
                    <h2>与时俱进</h2>
                </div>
                <h3>在多次调研企业最新应用技术及知识点的基础上，对技术点进行了100+项的增加与优化，JDK升级为1.8版本。</h3>
                <div class="java-text">
                    加入Lambda表达式及其它新特性的讲解，引入spring全家桶（spring boot /spring data/spring cloud等）
                    <p>为了让我们的学员在就业市场上更具有竞争力，重点讲解了更多的企业主流技术框架。如Spring、Mybatis、SpringMvc、Struts2、Spring、Hibernate等。</p>
                </div>
            </div>
            <div class="java-content">
                <div class="java-label">
                    <h2>引领潮流</h2>
                </div>
                <h3>
                    JavaEE在十多年的Java培训中一直引领技术变革我们一直以来都以最新最好的课程面向学生，本套课程加入了大量前沿领先的技术点。
                </h3>
                <div class="java-text">
                    SpringBoot微服务架构、MQ消息队列、Elasticsearch全文搜索、 OAuth协议第三方认证、JWT令牌校验用户权限、MongoDB框架、Redis高级特性、
                    即时通讯、接口加密、Netty实现消息通知、项目优化等。
                </div>
            </div>
            <div class="java-content">
                <div class="java-label">
                    <h2>项目丰富</h2>
                </div>
                <h3>课程的目标是让学生灵活运用所学知识进行企业项目开发项目选材是从真实的企业项目中提取。</h3>
                <div class="java-text">
                    学习Java语言的面向对象程序设计思想和实际应用技术，理解Java技术的编程理念，掌握使用Java语言的编程方法，具备 Java 开发技术；
                    <p>企业级真实项目案例实战学习。通过手把手教你完成阶段性以及综合性项目案例实践，增加项目经验，做到熟练运用面向对象程序设计的编程思想开发程序。</p>
                </div>
            </div>
            <div class="java-content">
                <div class="java-label">
                    <h2>解决方案式教学</h2>
                </div>
                <h3>
                    项目中阶段引入多达40+的解决方案、让学员能够快速运用企业主流解决方案来解决企业实际场景问题。
                </h3>
                <div class="java-text">
                    企业级微服务全套解决方案、报表方案、通用权限管理方案、支付系统方案、分布式事务解决方案、并发多级缓存方案、秒杀系统方案、及时通讯方案、分布式文件存储方案等。
                </div>
            </div>
        </div>
        <!-- WEB课程介绍 -->
        <div class="content-web">
            <div class="web-title">
                <h2>WEB<span>课程介绍</span></h2>
            </div>
            <div class="web-content">
                <div class="web-label">
                    <h2>与时俱进</h2>
                </div>
                <h3>
                    课程设计之初就对目前企业中最流行的技术及知识点进行过多次调研，整套课程设计完成后，又进一步对课程中的技术点进行了100+项的增加与优化。
                </h3>
                <div class="web-text">
                    全面覆盖以 React.js、Vue.js 和 Angular 为首的三大框架，最新的数据流方案、服务端渲染方案，当下非常热门的移动端开发技术：Flutter、React
                    Native、微信小程序，让学员能够轻松应对前端在不同领域、不同行业的技术难题。
                </div>
            </div>
            <div class="web-content">
                <div class="web-label">
                    <h2>引领潮流</h2>
                </div>
                <h3>
                    根据web前端开发工程师的招聘要求，增加了对移动web端、微信小程序等内容模块，让学员可以适应更多类型企业项目的需求。
                </h3>
            </div>
            <div class="web-content">
                <div class="web-label">
                    <h2>项目丰富</h2>
                </div>
                <h3>
                    课程核心定位真实企业需求，从项目选题开始全部以真实就业情况为出发点，横跨电商、金融、在线教育、社交、租房、旅游六大行业，构建真实企业级项目库。
                </h3>
                <div class="web-text">
                    通过项目课程培养学员在真实工作场景中攻克技 术难题的的技术实战能力，以及从容应对不同企 业需求的业务能力。
                </div>
            </div>
            <div class="web-content">
                <div class="web-label">
                    <h2>解决方案式教学</h2>
                </div>
                <h3>
                    本次课程除了升级应用型技术的相关课程，更多的还是提供海量商业项目解决方案，构建超全的解决方案库，让学员在日后的项目中可以灵活复用，做到企业有问题，学员有方案。
                </h3>
                <div class="web-text">
                    课程新增了学员自主团队开发的阶段，完全模拟企业中的真实开发场景，让学员真正体验并掌握从需求到开发再到上线的方方面面，无需过渡期直接适应真正的企业开发。
                </div>
            </div>
        </div>
        <!-- 课程大纲 -->
        <div class="outline">
            <h2>课程大纲</h2>
            <div class="outline-swiper">
                <div class="outline-left-btn">

                </div>
                <div class="outline-slide">
                    <ul>
                        <li>
                            <ul>
                                <li>
                                    <h2>教学模式</h2>
                                </li>
                                <li>
                                    <p>灵活的教学时间制度</p>
                                </li>
                                <li>
                                    <p>周一到周五脱产班，周末班！</p>
                                </li>
                                <li>
                                    <p>小班教学，每个班不超过３０名学员，</p>
                                </li>
                                <li>
                                    <p>每个教学班配备一位导师</p>
                                </li>
                                <li>
                                    <p>一位助教，一位班主任</p>
                                </li>
                            </ul>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="outline-right-btn">

                </div>
            </div>
        </div>
        <!-- 案例展示 -->
        <div class="case">
            <div class="case-title">
                <h2>案例展示</h2>
            </div>
            <div class="case-list">
                <div class="case-app-name">
                    <h3>骠骑APP</h3>
                </div>
                <div class="case-synopsis">
                    <p>专注于大动力摩托车</p>
                    <p>智能服务平台</p>
                </div>
                <div class="case-photo">
                    <img src="../images/biukier.png" alt="">
                    <span></span>
                </div>
                <div class="case-text">
                    骠骑是一个为广大摩托车爱好者创造的社区APP。提供高端摩托车租赁、提供骑行数据分享、骑行中及时救援风景动态记录、多维度用户社交等。
                </div>
            </div>
            <div class="case-list">
                <div class="case-app-name">
                    <h3>喵海购</h3>
                </div>
                <div class="case-synopsis">
                    <p>进口电商企业跨境电商</p>
                </div>
                <div class="case-photo miao-shop">
                    <img src="../images/miaohaigou02.png" alt="">
                    <img src="../images/miaohaigou01.png" alt="">
                    <span></span>
                </div>
                <div class="case-text">
                    喵海购是一家专注正品与服务的进口电商企业经营的产品包括进口母婴美妆、食品、保健品等负责海外产品供应商的洽谈合作与货源采购保证入驻产品均为海外一线产品
                </div>
            </div>
            <div class="case-list">
                <div class="case-app-name">
                    <h3>商务信息服务平台</h3>
                </div>
                <div class="case-synopsis">
                    <p>与城厢区商务局合作</p>
                </div>
                <div class="case-photo chengXiangQu">
                    <img src="../images/chengxiangqu.png" alt="">
                </div>
                <div class="case-text">
                    该商务信息服务平台是骠骑科技公司与城厢区商务局合作，定制开发的一款服务平台帮助政府部门在线收集、分析辖区第三产业的发展情况、管理企业安全生产和发布相关政策信息等内容的综合性商务管理平台，受益于该平台，政府和企业得以更科学、更高效地开展与第三产业企业的商务互通工作。
                </div>
            </div>
            <div class="case-list">
                <div class="case-app-name">
                    <h3>智慧110一键报警系统</h3>
                </div>
                <div class="case-synopsis">
                    <p>“网约车”式报警</p>
                </div>
                <div class="case-photo wisdom110">
                    <img src="../images/zhihui110.png" alt="">
                </div>
                <div class="case-text">
                    打破传统接报警机制，大胆尝试“网约车”式报警、抢单模式通过“智慧110”一键报警附近警力抢单接警，实现接处警的快速匹配及可视化运行，为报警人提供实时、公开、透明的接警过程体验，减少工作环节，提高工作效率提供在线、可视、互动式的接处警服务。群众利用手机快速准确定位，实现一键式报警，报警人可实时查看处警警力位置减轻等待的焦虑感，可与民警互动交流。同时，民警可有效减少因报警人位置、警情描述不准确而导致的延误或误解。
                </div>
            </div>
            <div class="case-list">
                <div class="case-app-name">
                    <h3>油画城油画估价管理平台</h3>
                </div>
                <div class="case-synopsis">
                    <p>吸引更多的艺术创作</p>
                    <p>在莆田油画城展卖</p>
                </div>
                <div class="case-photo painting">
                    <img src="../images/youhuacheng.png" alt="">
                </div>
                <div class="case-text">
                    此平台是以以莆田国际油画城为管理中心，以画家、商人为主要服务对象，以艺术作品为主导的油画城油画估价管理平台。平台可管理画家的个人账号信息、油画信息和展览情况等；管控油画的跌涨幅度查看油画城在世界各地的分布情况以及创意设计了开发平台画家们所上传作品的估价折线图平台借此能吸引流量，未来更多画家入驻平台、展示作品、估价自我创作。
                </div>
            </div>
            <div class="case-list">
                <div class="case-app-name">
                    <h3>湄洲妈祖祖庙云系统平台</h3>
                </div>
                <div class="case-synopsis">
                    <p>妈祖云系统平台</p>
                </div>
                <div class="case-photo mazu">
                    <img src="../images/mazu.png" alt="">
                    <span></span>
                </div>
                <div class="case-text">
                    妈祖云系统平台，负责建设妈祖云祖庙对外推广介绍窗口让人们更加了解妈祖的起源，平台提供基础信息、文化宣传栏、人事、信众、义工、祈福供奉管理，大数据统计分析等等。展现湄洲妈祖庙的历史和对世界各地华人们的深重意义，让信徒们能线上了解祭祀活动的开展，并为妈祖庙作出自己的贡献。
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer>
        <h2>全国免费招生热线：400-1581-881</h2>
        <ul>
            <li>客服手机：18020608313</li>
            <li>网址：www.pusiuni.com</li>
            <li>QQ：737358703</li>
            <li>邮箱：pusi@miaohaigou.com</li>
            <li>地址：莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
        </ul>
        <div class="map"></div>
        <div class="pusi-code">
            <h4><span>关注公众账号</span><span>了解更多资讯</span></h4>
            <div class="code">
                <img src="../images/code01.jpg" alt="">
                <img src="../images/code02.jpg" alt="">
            </div>
            <div class="copy">
                &copy;&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN
            </div>
        </div>
    </footer>
    <!-- 导航栏 -->
    <div class="tabBar">
        <ul>
            <li>
                <a href="./index.html">
                    <div class="tabBar-photo">
                        <img src="../images/shouYe.png" alt="">
                    </div>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="./introduce.html">
                    <div class="tabBar-photo">
                        <img src="../images/keCheng.png" alt="">
                    </div>
                    <p>课程</p>
                </a>
            </li>
            <li>
                <a href="./news.html">
                    <div class="tabBar-photo">
                        <img src="../images/sheQu.png" alt="">
                    </div>
                    <p>社区</p>
                </a>
            </li>
            <li>
                <a href="./applyCourse.html">
                    <div class="tabBar-photo">
                        <img src="../images/baoMing.png" alt="">
                    </div>
                    <p>报名</p>
                </a>
            </li>
            <li>
                <a href="./environment.html">
                    <div class="tabBar-photo">
                        <img src="../images/woMen.png" alt="">
                    </div>
                    <p>我们</p>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>