<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 默认样式 -->
    <link rel="stylesheet" href="../css/initialize.css">
    <!-- 通用样式 -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/news.css">
</head>

<script src="../js/adaptive.js"></script>

<body>
    <!-- 头部 -->
    <header>
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
    </header>
    <!-- 内容 -->
    <div class="content">
        <!-- 校园新闻列表 -->
        <div class="news">
            <div class="news-top-title">
                <h2>校园新闻</h2>
                <span>1小时前</span>
            </div>
            <div class="news-top-photo">
                <img src="../images/xiaoyuanxinwen.jpg" alt="">
            </div>
            <div class="news-list" style="border-top: none;">
                <div class="news-left-text">
                    <h2>璞思教育UI公开课顺利开讲！</h2>
                    <span>大多数人选择Java可能只是因为听说Java前景</span>
                </div>
                <div class="news-right-photo">
                    <div class="news-list-photo">

                    </div>
                </div>
            </div>
            <div class="news-list">
                <div class="news-left-text">
                    <h2>璞思教育UI公开课顺利开讲！</h2>
                    <span>大多数人选择Java可能只是因为听说Java前景</span>
                </div>
                <div class="news-right-photo">
                    <div class="news-list-photo">

                    </div>
                </div>
            </div>
            <div class="news-list">
                <div class="news-left-text">
                    <h2>璞思教育UI公开课顺利开讲！</h2>
                    <span>大多数人选择Java可能只是因为听说Java前景</span>
                </div>
                <div class="news-right-photo">
                    <div class="news-list-photo">

                    </div>
                </div>
            </div>
        </div>
        <!-- 行业动态 -->
        <div class="news">
            <div class="news-top-title">
                <h2>行业动态</h2>
                <span>1小时前</span>
            </div>
            <div class="news-top-photo">
                <img src="../images/hangyedongtai.jpg" alt="">
            </div>
            <div class="news-list" style="border-top: none;">
                <div class="news-left-text">
                    <h2>璞思教育UI公开课顺利开讲！</h2>
                    <span>大多数人选择Java可能只是因为听说Java前景</span>
                </div>
                <div class="news-right-photo">
                    <div class="news-list-photo">

                    </div>
                </div>
            </div>
            <div class="news-list">
                <div class="news-left-text">
                    <h2>璞思教育UI公开课顺利开讲！</h2>
                    <span>大多数人选择Java可能只是因为听说Java前景</span>
                </div>
                <div class="news-right-photo">
                    <div class="news-list-photo">

                    </div>
                </div>
            </div>
            <div class="news-list">
                <div class="news-left-text">
                    <h2>璞思教育UI公开课顺利开讲！</h2>
                    <span>大多数人选择Java可能只是因为听说Java前景</span>
                </div>
                <div class="news-right-photo">
                    <div class="news-list-photo">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer>
        <h2>全国免费招生热线：400-1581-881</h2>
        <ul>
            <li>客服手机：18020608313</li>
            <li>网址：www.pusiuni.com</li>
            <li>QQ：737358703</li>
            <li>邮箱：pusi@miaohaigou.com</li>
            <li>地址：莆田市城厢区华林经济开发区腾飞路66号骠骑大厦4层</li>
        </ul>
        <div class="map"></div>
        <div class="pusi-code">
            <h4><span>关注公众账号</span><span>了解更多资讯</span></h4>
            <div class="code">
                <img src="../images/code01.jpg" alt="">
                <img src="../images/code02.jpg" alt="">
            </div>
            <div class="copy">
                &copy;&nbsp;2019&nbsp;HUGO.&nbsp;All&nbsp;rights&nbsp;resevered.&nbsp;Designed&nbsp;by&nbsp;DZOAN
            </div>
        </div>
    </footer>
    <!-- 导航栏 -->
    <div class="tabBar">
        <ul>
            <li>
                <a href="./index.html">
                    <div class="tabBar-photo">
                        <img src="../images/shouYe.png" alt="">
                    </div>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="./introduce.html">
                    <div class="tabBar-photo">
                        <img src="../images/keCheng.png" alt="">
                    </div>
                    <p>课程</p>
                </a>
            </li>
            <li>
                <a href="./news.html">
                    <div class="tabBar-photo">
                        <img src="../images/sheQu.png" alt="">
                    </div>
                    <p>社区</p>
                </a>
            </li>
            <li>
                <a href="./applyCourse.html">
                    <div class="tabBar-photo">
                        <img src="../images/baoMing.png" alt="">
                    </div>
                    <p>报名</p>
                </a>
            </li>
            <li>
                <a href="./environment.html">
                    <div class="tabBar-photo">
                        <img src="../images/woMen.png" alt="">
                    </div>
                    <p>我们</p>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>